
 <p class="text-6xl font-serif text-gray-500 text-center dark:text-white mt-5">Chi siamo</p>
 
<%= render partial: 'components/chisiamo', locals: {
  img:' /img/img1.jpg',
  img2:' /img/img2.jpg',
  img3:' /img/img3.jpg',

  testo:' Punto Zero è uno studio di architettura contemporanea che nasce dalla volontà di unire creatività, funzionalità e sostenibilità in ogni progetto. Offriamo servizi di progettazione architettonica, interior design e ristrutturazione, rivolgendoci sia a clienti privati che ad aziende che desiderano trasformare spazi ordinari in ambienti unici e su misura.
     
    La nostra filosofia si basa sull’ascolto e sulla condivisione: crediamo che ogni progetto debba raccontare una storia, quella del cliente che lo abita o lo vive ogni giorno. Per questo accompagniamo ogni fase del percorso progettuale con attenzione, cura dei dettagli e un’estetica sempre attuale.
     
    Ci distinguiamo per l’approccio innovativo e la professionalità del nostro team multidisciplinare, che lavora in sinergia per dare forma a soluzioni architettoniche eleganti, efficienti e rispettose dell’ambiente. La sostenibilità, infatti, è per noi un valore imprescindibile, integrato in tutte le nostre scelte progettuali.
     
    Attraverso il nostro sito vogliamo raccontare chi siamo, mostrare i progetti realizzati, illustrare i servizi che offriamo e condividere la nostra visione dell’architettura moderna. Un design pulito, chiaro e raffinato è il riflesso del nostro modo di progettare: semplice, essenziale, ma mai banale.'
} %>
 <p></p>
