
 <p class="text-6xl font-serif text-gray-500 text-center dark:text-white mt-5">Chi siamo</p>
 
<%= render partial: 'components/chisiamo', locals: {
  img:' /img/img1.jpg',
  img2:' /img/img2.jpg',
  img3:' /img/img3.jpg',
} %>
 