 
 <div class="flex md:grid-cols-4 justify-center items-center mt-10 rounded-lg">
  <div class="flex gap-4 flex-wrap justify-center p-6">
    <div>
      <img 
        class="w-50 h-50 sm:w-96 sm:h-96 mb-4 sm:mb-0
               rounded-[40%_60%_40%_60%/60%_40%_60%_40%]
               object-cover
               drop-shadow-lg
               hover:scale-105 transition-transform duration-300"
        src="<%=img%>" alt="Immagine 1" 
      />
    </div>
    <div>
      <img 
        class="w-60 h-60 sm:w-96 sm:h-96 mb-4 sm:mb-0
               rounded-[40%_60%_40%_60%/60%_40%_60%_40%]
               object-cover
               drop-shadow-lg
               hover:scale-105 transition-transform duration-300"
        src="<%=img2%>" alt="Immagine 2" 
      />
    </div>
    <div>
      <img 
        class="w-50 h-50 sm:w-96 sm:h-96 mb-4 sm:mb-0
               rounded-[40%_60%_40%_60%/60%_40%_60%_40%]
               object-cover
               drop-shadow-lg
               hover:scale-105 transition-transform duration-300"
        src="<%=img3%>" alt="Immagine 3" 
      />
    </div>
  </div>
</div>


<div class="flex justify-center items-center mt-12 px-4   ">
  <div class="max-w-6xl border-5 border-[#778da9] bg-white rounded-lg shadows-xl ">
    <h1 class="font-serif text-lg text-gray-700 leading-relaxed p-5">
       Punto Zero è uno studio di architettura contemporanea che nasce dalla volontà di unire creatività, funzionalità e sostenibilità in ogni progetto. Offriamo servizi di progettazione architettonica, interior design e ristrutturazione, rivolgendoci sia a clienti privati che ad aziende che desiderano trasformare spazi ordinari in ambienti unici e su misura.
     
      La nostra filosofia si basa sull’ascolto e sulla condivisione: crediamo che ogni progetto debba raccontare una storia, quella del cliente che lo abita o lo vive ogni giorno. Per questo accompagniamo ogni fase del percorso progettuale con attenzione, cura dei dettagli e un’estetica sempre attuale.
 
      Ci distinguiamo per l’approccio innovativo e la professionalità del nostro team multidisciplinare, che lavora in sinergia per dare forma a soluzioni architettoniche eleganti, efficienti e rispettose dell’ambiente. La sostenibilità, infatti, è per noi un valore imprescindibile, integrato in tutte le nostre scelte progettuali.
       
      Attraverso il nostro sito vogliamo raccontare chi siamo, mostrare i progetti realizzati, illustrare i servizi che offriamo e condividere la nostra visione dell’architettura moderna. Un design pulito, chiaro e raffinato è il riflesso del nostro modo di progettare: semplice, essenziale, ma mai banale.
    </h1>
  </div>
  