<!--div primcipale -->
<div class="h-150 w-full bg-cover  bg-center text-white relative" style="background-image: url('<%= img %>');">
<!--divche contiene il testo  -->
  
<div class="absolute bottom-8 left-8 p-8 flex flex-col items-start mx-4 text-center sm:text-start">
<!--tetso picolo con props  -->
  
    <h1 class="font-bold text-xs"><%= testopiccolo %></h1>
    
    <!--primo testo con props  -->
    <p class="font-bold text-white text-3xl "><%= primariga %></p>
    <!--seconda testo con props  -->
    <p class="font-bold text-white text-3xl"><%= secondariga %></p>
    <p class="p-3"></p>
 
     
  </div>
</div>