<div class="w-full h-50 bg-white text-center rounded shadow-xs items-center justify-center gap-4 p-4">
  <h1 class="text-4xl text-gray-700 font-bold"><%= titolo %></h1>

  <!-- Contenitore scroll -->
  <div class="overflow-x-auto mt-4  ">
    <div class="inline-flex space-x-4 justify-center px-4">
      <% bottone.each_with_index do |bottone, index| %>
        <button type="button" class="text-white bg-[#778da9] font-medium rounded-full text-sm px-5 py-2.5 whitespace-nowrap">
          <%= bottone %>
        </button>
      <% end %>
    </div>
  </div>

  
</div>

