 <%= render partial: 'components/navbar', locals:{
    sconto:"Punto zero archittetura dal 1974",
    logo:' /img/nuovo.png',
    voci:  [
      {  testo: 'Home'},
      {  testo: 'Chi siamo'},
      {  testo: 'Servizi'},
      {  testo: 'Contatti'}
    ]
} %>

<p>

<%= render partial: 'components/hero', locals:{
 
  bottoneimg:' /glovo/icons8-utente-50.png',
  imgprincipale:'  /img/bosco-verticale-milano-bioedilizia.jpg',
  testoPrincipale:'Dai forma ai tuoi sogni con stile.',
  sottotitolo:'Innovazione e stile in ogni dettaglio.',
 
} %>

<p></p>

<%= render partial: 'components/card' ,locals:{
 titolo:'La nostra sede principale',
 
 cardona: [
  
   { img:'  /img/studio.jpg ',  testo:'La sede principale di Punto Zero rappresenta il cuore pulsante dello studio, un ambiente progettato per riflettere i valori di innovazione, creatività e sostenibilità che contraddistinguono l’azienda. Situata in una location strategica, la struttura unisce spazi funzionali e aree di lavoro accoglienti, pensate per favorire la collaborazione tra architetti, designer e clienti. L’interior design della sede sposa uno stile moderno ed elegante, con materiali eco-friendly e soluzioni architettoniche all’avanguardia che testimoniano l’impegno dello studio verso l’ambiente. Qui nascono e prendono forma i progetti di architettura e ristrutturazione, attraverso un processo che unisce professionalità tecnica e visione creativa, al servizio di clienti privati e aziende in cerca di soluzioni su misura, innovative e sostenibili.'},
  

],

}%>  


<p></p>
 


 <%= render partial: 'components/cardina', locals:{
  bottone: [
    { fotoristo: '/glovo/rider.png ', risto: 'Diventa un rider ' ,testo: ' Goditi flessibilità, libertà e guadagni competitivi effetuando consegne tramite Glovo.', testogiallo: 'Registrati qui '},
    { fotoristo: '   /glovo/kebababdulai.jpg', risto: 'Diventa un Partner  ', testo: 'Cresci con Glovo! La nostra tecnologia e la nostra base di utenti possono aiutarti a incrementare le vendite e cogliere nuove opportunità!', testogiallo: 'Registrati qui'},
  ]

} %>